@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s all linear;
}
body {
    font-family: 'Outfit';
}


header {
    background: blue;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 1;
}
header.sticky {
    position: fixed;
    top: 0;right: 0;left: 0;
    box-shadow: .0.5rem 1rem rgba(0,0,0,.1);
}
.logo {
    display: flex;
    margin-left: 20px;
}
.logo a {
    font-size: 30px;
    margin-left: 10px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
}

.header-div {
    display: none;
}
.header-div.active{
    display: initial;
    top:0;left: 0;right: 0;
    background: blue;
    height: 100vh;
    position: fixed;
    width: 250px
}
.header-div nav {
     margin-top: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.header-div nav a {
    display: block;
    padding: 10px;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 5px;
}
a i {
    padding: 10px;
    font-size: 25px;
}
#menu-bar {
    font-size: 2rem;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.greetings {
    font-size: 30px;
    margin-left: 15px;
}


.row {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}
.box {
    background: #fff;
    box-shadow: .0.5rem 1rem rgba(0,0,0,.1);
    text-align: center;
    width: 320px;
    padding: 15px;
    margin: 20px;
}
.box-1 {
    height: 150px;
}
.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-2 {
     margin-top: 20px;
}
.btn {
     display: inline-block;
     padding: 10px 24px;
     width: 200px;
     margin: 5px;
     font-size: 10px;
     outline: none;
     font-weight: 600;
     border: none;
     text-decoration: none;
     background: blue;
     color: #fff;
}
.fund {
    margin-top: 10px;
}
.fund .btn-div {
     margin-top: 20px;
}
.heading {
     margin: 10px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    text-align: center;
    width: 100%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  footer {
    margin-top: 50px;
    width: 100%;
    background: blue;
    padding: 15px;
    text-align: center;
  }
  footer a {
     color: #fff;
     text-decoration: none;
  }
